In [2]:
import pandas as pd

df = pd.read_csv('resultados_heuristica_len_5.csv')
df.head()

,qtd_times,lahc_grid_results,lahc_custos,lahc_tempo,sa_grid_results,sa_custos,sa_tempo,ils_grid_results,ils_custos,ils_tempo,e0,en,d0,dn
0,6,"[[6, -4, -2, 5, 3], [-1, -6, -4, 5, -3], [2, 4...",11332,0.018702,"[[-5, 6, 4, 3, -2], [-5, 3, 1, -4, 6], [2, -1,...",9142,0.018225,"[[-2, 3, -5, 4, -6], [5, 4, 6, 3, 1], [1, 6, 4...",6491,0.016709,5,15,50,1000
1,13,"[[-11, -3, -5, 10, 9, -7, 12, -8, 6, 4, -2, -1...",35347,0.051383,"[[-6, -2, -3, -13, -5, 7, 8, -4, -9, -12, -11,...",30606,0.053591,"[[8, -12, 5, 7, 4, 2, 3, -13, -10, 9, -6, 11],...",23515,0.060195,5,15,50,1000
2,14,"[[-6, -2, -10, -14, -3, 9, 11, 13, 4, -12, -8,...",44058,0.058268,"[[-5, 8, 10, -9, 2, -6, -14, 11, 12, -13, 3, -...",30140,0.060525,"[[-3, -7, 6, 5, 4, 13, 9, -11, -12, 8, -10, -1...",30046,0.065114,5,15,50,1000
3,7,"[[5, 6, 3, 2, -7, -4], [-5, 4, 7, 3, 6, 1], [5...",12944,0.017110,"[[5, 4, 6, 2, -3, -7], [6, 7, 4, -5, -1, 3], [...",12207,0.020828,"[[-5, 3, -7, -6, 4, -2], [1, 7, 3, 6, -4, -5],...",11130,0.021218,5,15,50,1000
4,10,"[[-10, 6, -2, -7, -9, -3, 8, -4, -5], [-9, 6, ...",22520,0.033207,"[[9, 5, -3, -2, -10, -6, 4, 8, -7], [-8, -1, -...",20726,0.032425,"[[-6, 10, 8, 7, -2, 9, 4, 5, -3], [-7, -9, 1, ...",19817,0.041237,5,15,50,1000